<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to index.cjs</h1>
    <% for(let item of arr){ %>
        <%= item %>
    <%}%>
    <h2> <%=1 + 12 + 15%> </h2>
    <% if(true){ %>
        <h2>Hello girllll</h2>
    
    <%}else{ %>
        <h3>hii</h3>
    <%} %>
</body>
</html>